{% extends "layouts/base.html" %}

{% block title %}Signup{% endblock %}
{% block header %}Registrarse{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'home' %}">Volver al Home</a>
{% endblock %}